.container {
  padding: 2rem;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.content {
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  font-size: 1.2rem;
  margin: 0.3rem 0;
}